/* Variables */
:root {
    --main-font: 'Roboto', sans-serif;
    --secondary-font:'Raleway', sans-serif;
    --main-color: #212121;
    --secondary-color:#757575;
    --accent-color: #FFFFFF;
    --adress-color: rgba(255, 255, 255, 0.6);
    --nav-color: #2196F3;
}

/* Body */
body {
    color: var(--main-color);
    font-family: var(--main-font);
}

/* Color */
.logo {
    color: #000000;
} 

.logotype {
    color: var(--nav-color);
}

.studio,
.portfolio,
.contacts {
    color: inherit;
}

.link-tel,
.heading-text,
.caption-text {
    color: var(--secondary-color);
}

.title,
.logo-footer {
    color: var(--accent-color);
}

.link-footer.address {
    color: var(--accent-color);
} 

.link-mail,
.link-tel {
    color: var(--secondary-color);
}

.summary-text {
    color: var(--secondary-color);
}

.link-footer {
    color: rgba(255, 255, 255, 0.6);
} 

.button,
.button-hero {
    color: var(--main-color);
}

/* Background-color */
.header {
    background-color: var(--accent-color);
}

.section-hero,
.footer {
    background-color: #2F303A;
}

.section-criterion,
.function-section,
.project-section {
    background-color: #F5F5F5;
}

.section-command,
.button {
    background-color: #F5F4FA;
}

/* Font */
.logo {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;
} 

.studio,
.portfolio,
.contacts,
.link-mail,
.link-tel {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.06em;
}

.heading {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.heading-text {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
}

.subject,
.caption {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
}

.caption-list {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
}

.caption-text {
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
}

.summary {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.summary-text {
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
}

.logo-footer {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;
}

.link-footer {
    font-family: var(--main-font);
    color: var(--adress-color);
    font-size: 14px;
    line-height: 1.7;
    text-decoration: none;
}

.button-hero {
    background-color: var(--nav-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
}

.button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;
}

/* Navigation */
.link.studio.current {
    color: var(--nav-color);
}

.link.portfolio.current {
    color: var(--nav-color);
}

.list .button.current {
    color: var(--accent-color);
    background-color: var(--nav-color)
}

.studio:hover,
.studio:focus {
    color: var(--nav-color);
}

.portfolio:hover,
.portfolio:focus {
    color: var(--nav-color);
}

.contacts:hover,
.contacts:focus {
    color: var(--nav-color);
}

.link-mail:hover,
.link-mail:focus {
    color: var(--nav-color);
}

.link-tel:hover,
.link-tel:focus  {
    color: var(--nav-color);
}

.link-footer.address:hover,
.link-footer.address:focus {
    color: var(--nav-color);
}

.link-footer:hover,
.link-footer:focus  {
    color: var(--nav-color);
}

.button-hero:hover,
.button-hero:focus {
    color: var(--main-color);
    background-color: #F5F5F5;
}

.button:hover,
.button:focus {
    color: var(--accent-color);
    background-color: var(--nav-color);
}

.button,
.button-hero {
    cursor: pointer;
}

/* Bucket */
.list {
    list-style: none;
}

.hide {
    display: none;
}

/* Block */

.box {
    position: absolute;
    width: 1600px;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    outline: 5px solid rgb(71, 135, 255);
}

.header .flex {
    display: flex;
    align-items: center;
    height: 80px;
}

.site-nav,
.auth-nav {
    display: flex;
    margin-top: 0;
    margin-bottom: 0; 
}

.auth-nav {
    margin-left: auto;
}

.logo {
    margin-right: 93px;
}

.studio {
    margin-right: 50px;
}

.portfolio  {
    margin-right: 50px;
}

.link-mail {
    margin-right: 50px;
}

.section-hero .container {
    padding-top: 200px;
    padding-bottom: 200px;
}

.button-hero {
    width: 216px;
    height: 50px;
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
    text-align: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

.title {
    margin-top: 0;
    margin-bottom: 30px;
}

.section-criterion.container {
    display: flex;
    justify-content: space-between;
    padding-top: 94px;
    padding-bottom: 94px;
}

.section-criterion .flex {
    display: flex;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.list.flex li:not(:last-child) {
    margin-right: 30px;
}

.function-section .flex {
    display: flex;
    padding-left: 15px;
    padding-right: 15px;
}

.heading {
    margin-top: 0;
    margin-bottom: 10px;
    padding-top: 0;
}

.heading-text {
    margin-bottom: 0;
}


.function-section.container {
    padding-top: 0;
    padding-bottom: 94px;
    padding-left: 0;
    padding-right: 0;
}


.caption {
    margin-top: 0;
    margin-bottom: 50px;
}

.list.flex {
    margin-top: 0;
    margin-bottom: 0;
}

.card,
.card-caption {
    display: block;
}

.section-command .flex {
    display: flex;
    padding-left: 15px;
    padding-right: 15px;
}

.section-command.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
    padding-top: 94px;
}

.caption-text,
.caption-list {
    text-align: center;
    padding-top: 0;
}

.card-caption {
    margin-bottom: 30px;
}

.caption-list {
    margin-top: 0;
    margin-bottom: 10px;
}

.caption-text {
    margin-top: 0;
    margin-bottom: 124px;
}